#cards {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin-top: 126px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 40px;
  margin: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  width: 160px;
}

.card h4 {
  margin: 16px 0;
}

.card h5 {
  text-align: start;
}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  gap: 16px;
}

#loading-indicator {
  display: flex;
  justify-content: center;
  margin-top: 126px;
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #1EDD88;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
